<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        td, th {
            min-width: 300px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Здравствуйте, {{userCustomer.name}} </h1>
    <p>{{message}}</p>

    <p>Пользователь: {{user.name}} оставил запрос на выполнение заказа</p>
    <p>Заказ: {{workInfo.title}}</p>
    <p>Cообщение: {{text}}</p>
    <p>Ссылка: <a href={{ref}}>art-gallery</a></p>

    </table>
</body>
</html>